@charset "utf-8";

:root{
    /* variable */
    --primary-color: #eee;
}

.container{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

/* header */


/* visual */


/* section1 */


/* footer */


